/* all link have common css  */
a{
    text-decoration: none;
    color:black;
    border: none !important;
}

body{
    
    background-color: rgb(56, 56, 56);
    font-family: 'Didact Gothic', sans-serif;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}


/* Setting the background image and apply a blur effect */
.blur-background {
    background-image: url('IMDb-Logo.jpg'); 
    background-size: cover;
    filter: blur(25px); /*  To adjust the blur amount as needed */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places the background behind other content */
}

/*---------- Navbar Styling-------- */


.nav-menu{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

/* --------Navbar logo------------ */
.logo-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    min-width: 170px;
    font-size: 1rem;
    font-weight: 800;
    color:white;
    box-sizing: border-box;
}

.logo-img{
    width: 150px;
    height:35px;
    margin-top:5px
}

/* navbar search bar */

/* css for search box  */
.search-box{
    display: flex;
    width:100%;    
    align-items: center;    
    position: relative;
    margin-left: 90px;
}
/* sarch box input css  */
.search-box input {
    width: 80%;
    height: 30px;    
    border-radius: 6px;    
    border: solid 2px grey;
    font-size: 1rem;
    background: transparent;
}
/* search icon  */
.search-icon{
    position: absolute;
    right: 250px;
    cursor: pointer;
    height:30px;
    width:50px;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
}

/* Favourite link */
.favourites{
    position: absolute;
    right:50px;
    margin-top: 10px;
}

.hover:hover{
    transform: scale(1.05);
}

/* css for movie content which is coming from API  */

/* the container for each movie to diaplay */
#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    
}
/* movie element container css  */
.movie-element{
    box-sizing: border-box;
    width: 300px;
    height:auto;
    padding-bottom:5px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow:1px 4px 5px rgba(141, 141, 141, 0.2) , -2px -4px 5px rgba(218, 207, 207, 0.2);
    background-color: #232330;
    position: relative;
    overflow: hidden;
}
/* image of movie element  */
.movie-element img{
    width: 100%;
    max-height: 80%;
    border-radius: 10px;
}
/* movie information box css  */
.movie-info{
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;    
    letter-spacing: 0.5px;
}

.movie-element:hover{
    transform: scale(1.05);
}

    /* Buttons to add movie to favourite and to view more about thhe movie */
.buttons-box{
    width:80%;
}

/* add to favourite button */
 .favourite-button,.remove-button{
    height: 35px;
    width: 100%;    
    border: solid 1px #520303;
    background:lightcoral !important;  
    
 }  

 /* more button */
.more-button{
    border: solid 1px black;
    height: 35px;
    width: 100%;   

}




/* Favourite movie list pagge styliing */

/* title of thr page */
#favourite{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    
}

#favourite p{
    margin-top: 35vh;
    font-size: 2rem;
    color: antiquewhite;
}

.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

/* Movie detail page styles */

#movieDetails{
    width: 70vw;
    height:auto;
    background-color: rgb(230, 229, 158);
    align-items: center;
    margin :auto auto;
}

.movie-image{
    width:100%;
    height:50%
}

.movie-image img{
    width:70vw;
    height: 70vh;
}

 

